<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3">　１　</div>
        <div class="col-sm-6 col-md-3">　２　</div>
        <div class="col-sm-6 col-md-3">　３　</div>
        <div class="col-sm-6 col-md-3">　４　</div>
    </div>
</div>

  <%= link_to "Sign up now!", 'new_user_registration_path', class: "btn btn-lg btn-primary" %>
</div>


